In [2]:
import numpy as np
import pandas as pd

scores = np.random.randint(40,high=101,size=(50,5))
scores_df=pd.DataFrame(scores,
    columns=['國文','英文','數學','地理','歷史'],
    index=range(1,51))
scores_df.index.name="學號"
scores_df.columns.name="科目"

#display(sum_series)               #sum總分 #mean平均 #rank排名
sum_series=scores_df.sum(axis=1)
mean_series=scores_df.mean(axis=1)
rank_series=sum_series.rank(method='min',ascending=False) #rank依照總分1~50(但表格整體排列沒有變)
scores_df['總分']=sum_series
scores_df['平均']=mean_series
scores_df['名次']=rank_series
scores_df.sort_values(by="名次")   #sort_value把表格依照名次排列

科目   國文   英文  數學   地理  歷史   總分    平均    名次
學號
9    93   93  90   91  51  418  83.6   1.0
25   96   47  91   93  78  405  81.0   2.0
21   90   76  95   85  55  401  80.2   3.0
27   50   94  91   89  74  398  79.6   4.0
45   76   95  89   45  82  387  77.4   5.0
50   77   76  82   62  86  383  76.6   6.0
28   49   98  77   79  75  378  75.6   7.0
29   75   96  73   92  40  376  75.2   8.0
11   48  100  87   53  86  374  74.8   9.0
26   86   99  59   43  85  372  74.4  10.0
19   68   95  53   74  81  371  74.2  11.0
14   59   97  50   88  76  370  74.0  12.0
13   83  100  91   55  40  369  73.8  13.0
15  100   68  63   53  85  369  73.8  13.0
16   94   81  55   54  85  369  73.8  13.0
40  100   85  48   88  46  367  73.4  16.0
10   88   90  53   82  53  366  73.2  17.0
34   76   87  77   63  63  366  73.2  17.0
4    48   82  74   75  86  365  73.0  19.0
30   73   70  65   64  88  360  72.0  20.0
44   54   55  91   60  99  359  71.8  21.0
20   88   47  86   56  82  359  71.8  21.0
24   45   88  65   65  89  352  70.4  23.0
41   84   97  66   51  53  351  70.2  24.0
5    70   88  66   69  58  351  70.2  24.0
46   65   88  86   65  47  351  70.2  24.0
6    94   70  58   71  57  350  70.0  27.0
42   71   41  94   54  90  350  70.0  27.0
8    58   58  83   49  99  347  69.4  29.0
38   74   55  75   65  77  346  69.2  30.0
49   75   75  70   85  40  345  69.0  31.0
32   86   42  43   78  95  344  68.8  32.0
36   41   58  81   72  90  342  68.4  33.0
43   43   97  42   86  73  341  68.2  34.0
2    61   89  46   95  49  340  68.0  35.0
37   99   80  44   73  43  339  67.8  36.0
33   67   84  42   73  71  337  67.4  37.0
17   87   51  61   67  67  333  66.6  38.0
22   85   53  77   53  61  329  65.8  39.0
3    64   55  69   99  41  328  65.6  40.0
48   99   48  62   50  60  319  63.8  41.0
23   48   95  79   46  49  317  63.4  42.0
7    55   82  59   41  76  313  62.6  43.0
47   53   44  55  100  58  310  62.0  44.0
12   48   68  45   77  72  310  62.0  44.0
18   42   67  74   57  60  300  60.0  46.0
35   45   55  46   68  85  299  59.8  47.0
1    75   55  42   58  67  297  59.4  48.0
31   47   63  60   71  50  291  58.2  49.0
39   73   42  40   40  67  262  52.4  50.0

In [7]:
#如何在既有表格加一欄，產生新的表格
display(scores_df.iloc[:3])  #[]預設抓欄、抓列要用iloc 
new_df = scores_df.iloc[:3].copy()
new_df["不及格"] = pd.Series ([1,0,2],index=[1,2,3])
new_df

科目  國文  英文  數學  地理  歷史   總分    平均    名次
學號
1   75  55  42  58  67  297  59.4  48.0
2   61  89  46  95  49  340  68.0  35.0
3   64  55  69  99  41  328  65.6  40.0

科目  國文  英文  數學  地理  歷史   總分    平均    名次  不及格
學號
1   75  55  42  58  67  297  59.4  48.0    1
2   61  89  46  95  49  340  68.0  35.0    0
3   64  55  69  99  41  328  65.6  40.0    2